$wrap-class: '.SELP-4a-main';

@import '../scss/_main';

$hero-text-hz-margin_m: 18%;
$hero-text-hz-margin_d: 15%;

// prevent horizontal overflow
#main {
  max-width: 100%;
  overflow: hidden;
}

// my stuff here!
#{$wrap-class} {

  #hero {
    position: relative;

    h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform( translate( -50%, -50% ) );
    }

  }

  .hero--full-width {
    margin-left: -20px;
    margin-right: -20px;

  } // .hero--full-width

  .picture,
  .picture > img {
    width: 100%;
    max-width: 100%;
  }


  .hero__text {
    margin-right: $hero-text-hz-margin_m;
    margin-left: $hero-text-hz-margin_m;
  }


  .article {

    // .picture,
    // .picture > img {
    //   max-width: 100%;
    // }

    .headline {
      color: $blue;
      font-size: 40px;
      margin-top: 20px;
    }

    .text {
      margin-bottom: 20px;
    }

    .link {
      // margin-top: 20px;
    }

  } // .article


}


@media screen and (min-width: 992px) {

  #{$wrap-class} {

    .hero__text {
      margin-right: $hero-text-hz-margin_d;
      margin-left: $hero-text-hz-margin_d;
    }

  }
}
