$wrap-class: '.SELP-4a-main';

@import '../scss/_main';

$hero-text-hz-margin_m: 18%;
$hero-text-hz-margin_d: 15%;

$text-column-padding_m: 35px; // per PSD!

// prevent horizontal overflow
#main {
  max-width: 100%;
  overflow: hidden;
}

// my stuff here!
#{$wrap-class} {

  #hero {


  }

  .hero--full-width {
    // margin-left: -20px;
    // margin-right: -20px;

    // .banner wraps a headline and image so that we can center it
    .banner {
      position: relative;

      h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform( translate( -50%, -50% ) );
        margin: 0;
      }

    }

  } // .hero--full-width

  .picture,
  .picture > img {
    width: 100%;
    max-width: 100%;
  }


  .hero__text {
    margin-right: $hero-text-hz-margin_m;
    margin-left: $hero-text-hz-margin_m;
  }


  .article {

    // .picture,
    // .picture > img {
    //   max-width: 100%;
    // }

    .headline {
      color: $blue;
      font-size: 40px;
      margin-top: 20px;
      line-height: 1.2;
    }

    .text {
      margin-bottom: 20px;
    }

    .link {
      // margin-top: 20px;
    }

  } // .article


}

// mobile only
@media screen and (max-width: 991px) {

  // have to force full-width differently for articles
  // than the hero because the hero doesn't use columns
  // it's actually simpler!
  // remove the class 'container' from the article!
  .sm__article--full-width {
    // background: pink;

    // add the negative margins for a row here
    margin-left: -15px;
    margin-right: -15px;

    // kill the horizontal margin on rows inside .sm__article--full-width
    .row {
      margin-left: 0;
      margin-right: 0;
    }

    // remove the padding from the column
    .sm__full-width {
      padding-left: 0;
      padding-right: 0;
    }

  }


  .sm__text-column {
    padding-left: 30px;
    padding-right: 30px;
  }
}

// desktop
@media screen and (min-width: 992px) {

  #{$wrap-class} {

    .hero__text {
      margin-right: $hero-text-hz-margin_d;
      margin-left: $hero-text-hz-margin_d;
    }

    // make it act like .container here
    .sm__article--full-width {
      // background: pink;
      margin-left: 5px;
      margin-right: 5px;
      padding-left: 15px;
      padding-right: 15px;
      width: 99%;
    }


  }
}
