Options Indexes

<IfModule php7_module>
  php_value include_path ".:./inc:../inc"
  php_value auto_prepend_file "bs.php"
</IfModule>

<IfModule php5_module>
  php_value include_path ".:./inc:../inc"
  php_value auto_prepend_file "bs.php"
</IfModule>

<IfModule php_module>
  php_value include_path ".:./inc:../inc"
  php_value auto_prepend_file "bs.php"
</IfModule>
