@import '../scss/_main';

$wrap-class: '.SELP-1';

// this is already the color used for blue in shopping.css
// $link-blue: #1a42ad;
// font--primary3


// used on laundry-hack right columns and their fake bottom borders
$col-right-horz-padding: em( 25px, $max-font-size_m );

$content-padding_d: 57px; // playing in the browser; PSD has 85px from edge

$h2_d: 44px;
$h3_d: 24px;

$guide_pre_d: 36px;
$guide_h3_d: 41px;

$icon_height_d: 44px;

// my stuff here!
#{$wrap-class} {

  // to achieve the 20px padding on each side of hero in PSD
  padding-left: 5px;
  padding-right: 5px;

  // force content column width
  // article,
  // #hero .container {
  //   padding-left: $content-padding_d;
  //   padding-right: $content-padding_d;
  // }

  h2 {
    font-size: em( $h2_d, $max-font-size_d );
  }

  h3,
  .h3 {
    font-size: em( $h3_d, $max-font-size_d );
  }

  .font--900 {
    font-weight: 900;
  }

  .headline--copy {
    line-height: 1.4em;
    br {
      display: none;
    }
  }


  .refrigerator-essentials {

    .tip-box {
      margin-top: 7%;
    }

  } // .refrigerator-essentials

  .refrigerator-styles {

    ul {
      padding-top: 5px;
      padding-left: 20px;
    }

  }

  .refrigerator-features {

    &__list {
      padding-left: 25px;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .tip-box {
      margin-top: 10px;
    }
  }

  .refrigerator-guides {

    .refrigerator-guide__idea {
      font-size: em( $guide_pre_d, $max-font-size_d );
    }

    h3 {
      font-size: em( $guide_h3_d, $max-font-size_d );
    }

    .refrigerator-guide {

      padding-left: 0;

      footer {
        margin-top: 30px;

        .refrigerator-guide__link {
          font-size: em( $h3_d, $max-font-size_d );
          white-space: nowrap;

          .icon-document {
            display: inline-block;
            height: em( $icon_height_d, $max-font-size_d );
          }

          &--text {
            vertical-align: middle;
          }
        }
      }
    }

  } // .refrigerator-guides

  .brand-logos {
    .brand-logos--wrapper {
      width: 100%;
    }
  }

  .tip-box,
  .tipBoxContainer {
    min-height: 130px;
    margin-top: 25px;
    display: table;
  }
  .tip-box__tall,
  .tipBoxContainer2 {
    $tip-box-tall_height: 170px;
    min-height: 170px;

    .tip-box__left,
    .tipBoxDarkerBlue {
      // padding-top: 0px;
      // line-height: 170px;
    }

  }
  .tip_box__left,
  .tip_box__right {
    display: table-cell;
  }
  .tip-box__left,
  .tipBoxDarkerBlue {
    display: table-cell;
    text-transform: uppercase;
    background-color: $sears-blue;
    color: white;
    font-weight: bold;
    text-align: center;
    height: inherit;
    // font-size: 31px;
    font-size: em( 31px, $max-font-size_d );
    padding-top: 50px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 50px;
    vertical-align: middle;
  }
  .tip-box__right,
  .tipBoxLighterBlue {
    display: table-cell;
    background-color: $light-blue;
    color: #000;
    height: inherit;
    padding: 25px;
    font-weight: bold;
    vertical-align: middle;
    line-height: 1.6em;
  }

}

@media screen and (min-width: 992px) {

  #{$wrap-class} {
    // force content column width
    article,
    #hero .container {
      padding-left: $content-padding_d;
      padding-right: $content-padding_d;
    }

    h2 {
      // font-size: em( $h2_d, $max-font-size_d );
      letter-spacing: 0.01em;
      white-space: nowrap;
      line-height: 1;
    }

    h3,
    .h3 {
      font-size: em( $h3_d, $max-font-size_d );
    }

  }
}
