@import '../scss/_main';

$wrap-class: '.SELP-1';

// this is already the color used for blue in shopping.css
// $link-blue: #1a42ad;
// font--primary3


// used on laundry-hack right columns and their fake bottom borders
$col-right-horz-padding: em( 25px, $max-font-size_m );

$content-padding_d: 57px; // playing in the browser; PSD has 85px from edge

$h2_d: 44px;
$h3_d: 24px;

$guide_pre_d: 36px;
$guide_h3_d: 41px;

// my stuff here!
#{$wrap-class} {

  // to achieve the 20px padding on each side of hero in PSD
  padding-left: 5px;
  padding-right: 5px;

  // force content column
  article,
  #hero .container {
    padding-left: $content-padding_d;
    padding-right: $content-padding_d;
  }

  h2 {
    font-size: $h2_d;
  }

  h3,
  .h3 {
    font-size: $h3_d;
  }

  .font--900 {
    font-weight: 900;
  }

  .headline--copy {
    line-height: 1.4em;
    br {
      display: none;
    }
  }


  .refrigerator-essentials {

    .tip-box {
      margin-top: 7%;
    }

  } // .refrigerator-essentials

  .refrigerator-styles {

    ul {
      padding-top: 5px;
      padding-left: 20px;
    }

  }

  .refrigerator-features {

    &__list {
      padding-left: 25px;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .tip-box {
      margin-top: 10px;
    }
  }

  .refrigerator-guides {

    .refrigerator-guide__idea {
      font-size: $guide_pre_d;
    }

    h3 {
      font-size: $guide_h3_d;
    }

    .refrigerator-guide {
      footer {
        margin-top: 30px;
        .refrigerator-guide__link {
          font-size: $h3_d;

          &--text {
            vertical-align: middle;
          }
        }
      }
    }

  }

  .brand-logos {
    .brand-logos--wrapper {
      width: 100%;
    }
  }

  .tip-box,
  .tipBoxContainer{
    min-height: 130px;
    margin-top: 25px;
    display: table;
  }
  .tip-box__tall,
  .tipBoxContainer2{
    $tip-box-tall_height: 170px;
    min-height: 170px;

    .tip-box__left,
    .tipBoxDarkerBlue {
      // padding-top: 0px;
      // line-height: 170px;
    }

  }
  .tip_box__left,
  .tip_box__right {
    display: table-cell;
  }
  .tip-box__left,
  .tipBoxDarkerBlue {
    display: table-cell;
    text-transform: uppercase;
    background-color: #102869;
    /*width: 15%;*/
    color: white;
    font-weight: bold;
    text-align: center;
    height: inherit;
    font-size: 31px;
    padding-top: 50px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 50px;
    vertical-align: middle;
  }
  .tip-box__right,
  .tipBoxLighterBlue{
    display: table-cell;
    background-color: #d2daee;
    color: #000;
    /*width: 85%;*/
    height: inherit;
    padding: 25px;
    font-weight: bold;
    vertical-align: middle;
  }

}
