$wrap-class: '.SELP-4b-tips';

@import '../scss/_main';


// used on laundry-hack right columns and their fake bottom borders
$col-right-horz-padding: em( 25px, $max-font-size_m );

$content-padding_d: 57px; // playing in the browser; PSD has 85px from edge

$h2_d: 44px;
$h3_d: 24px;

$guide_pre_d: 36px;
$guide_h3_d: 41px;

$icon_height_d: 44px;

// prevent horizontal overflow
#main {
  max-width: 100%;
  overflow: hidden;
}

// my stuff here!
#{$wrap-class} {

  .hero--full-width {
    margin-left: -20px;
    margin-right: -20px;

    h1 {
      margin-left: 20px;
      margin-right: 20px;
    }

    .picture,
    .picture > img {
      width: 100%;
      max-width: 100%;
    }
  }

  .font--900 {
    font-weight: 900;
  }

  .headline--copy {
    line-height: 1.4em;
    br {
      display: none;
    }
  }

  .link__download {
    font-size: em( $h3_d, $max-font-size_d );
    white-space: nowrap;

    .icon-document {
      display: inline-block;
      height: em( $icon_height_d, $max-font-size_d );
    }

    &--text {
      vertical-align: middle;
    }
  }


  // Simone, I moved your styles here.
  .width100percent {
    width: 100%;
  }

  .headline {
    background: #2159bb;
    color: #fff;
    padding: 15px 0;
    text-align: center;
  }

  .tipbottom {
    background: #dae2f1;
    padding: 20px;
    line-height: 1.5;
  }

  .text-align-left {
    text-align: left !important;
  }

  .noMargin {
    margin: 0px;
  }

  .uppercase {
    text-transform: uppercase;
  }

  .paddingattop {
    padding: 20px 0;
  }

  .heropadding {
    padding: 0;
  }

  ul {
    color: #2159bb;
    padding-left: 35px;
  }

  ul li {
    line-height: 1.5;
  }

  ul li span {
    color: black;
  }

  .viewMore {
    text-align: left;
  }



}

@media screen and (max-width: 991px) {
  .sm__section--full-width {
    margin-left: -15px;
    margin-right: -15px;
  }
  .sm__section--full-width .row {
    margin-left: 0;
    margin-right: 0;
  }
  .sm__section--full-width .sm__full-width {
    padding-left: 0;
    padding-right: 0;
  }
  .sm__text-column {
    padding-left: 30px;
    padding-right: 30px;
  }
  .sm__no-pad {
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media screen and (min-width: 992px) {

  #{$wrap-class} {
    // force content column width
    // article,
    // #hero .container {
    //   padding-left: $content-padding_d;
    //   padding-right: $content-padding_d;
    // }

    // h2 {
    //   // font-size: em( $h2_d, $max-font-size_d );
    //   letter-spacing: 0.01em;
    //   // white-space: nowrap;
    //   line-height: 1;
    // }



  }
}
