//=======================
// Additional font-sizes
//=======================

// Nope, this font size doesn't change between desktop and mobile.
.font-31 {
  // updated to satisfy client
  font-size: 18px !important;
}

// brand logos heading, fall meal planning article headings
// 40 is defined by Sears!
// .font-40 {
//   font-size: 40px !important;
// }

// page headlines on recipes and tips pages
.font-48 {
  font-size: 48px !important;
}

// Tip and section headings like Ingredients, Directions, et al
.font-50 {
  font-size: 50px !important;
}

// main page headline
.font-65 {
  font-size: 65px !important;
}


$scale-767: .9;
// scale them jokers!
@media screen and (max-width: 767px) {

  // .font-31 {
  //   font-size: (31px * $scale-767) !important;
  // }

  // page headlines on recipes and tips pages
  .font-48 {
    font-size: (48px * $scale-767) !important;
  }

  // Tip and section headings like Ingredients, Directions, et al
  .font-50 {
    font-size: (50px * $scale-767) !important;
  }

  // main page headline
  .font-65 {
    font-size: (65px * $scale-767) !important;
  }

}

// smaller than 600px
$scale-599: .7;
// scale them jokers!
@media screen and (max-width: 599px) {

  // .font-31 {
  //   font-size: (31px * $scale-599) !important;
  // }

  // Sears only scales fonts at 767px!
  .font-40 {
    font-size: (40px * $scale-599) !important;
  }

  // page headlines on recipes and tips pages
  .font-48 {
    font-size: (48px * $scale-599) !important;
  }

  // Tip and section headings like Ingredients, Directions, et al
  .font-50 {
    font-size: (50px * $scale-599) !important;
  }

  // main page headline
  .font-65 {
    font-size: (65px * $scale-599) !important;
  }

}

$scale-400: .5;
@media screen and (max-width: 400px) {

  // .font-31 {
  //   font-size: (31px * $scale-400) !important;
  // }

  // Sears only scales fonts at 767px!
  .font-40 {
    font-size: (40px * $scale-400) !important;
  }

  // page headlines on recipes and tips pages
  .font-48 {
    font-size: (48px * $scale-400) !important;
  }

  // Tip and section headings like Ingredients, Directions, et al
  .font-50 {
    font-size: (50px * $scale-400) !important;
  }

  // main page headline
  .font-65 {
    font-size: (65px * $scale-400) !important;
  }

}
