$wrap-class: '.SELP-4c-chili';

@import '../scss/_main';

// new colors!
$gray-42: #424242;
$hr-color: #dadbdc;

// prevent horizontal overflow
#main {
  max-width: 100%;
  overflow: hidden;
}

// my stuff here!
#{$wrap-class} {

  .font--900 {
    font-weight: 900;
  }

  .font--424242 {
    color: $gray-42;
  }

  .hero--full-width {
    margin-left: -20px;
    margin-right: -20px;

    h1 {
      margin-left: 20px;
      margin-right: 20px;
    }

    .picture,
    .picture > img {
      width: 100%;
      max-width: 100%;
    }


  }

  .recipe-section {
    line-height: 1.4;

    // make full-width on mobile!
    margin-left: -35px;
    margin-right: -35px;

    & > .headline {
      background: $blue;
      color: #fff;
      margin-bottom: 20px;
      padding: 15px 0;
      text-align: center;
      &:after {
        content: ':';
      }
    }

    &__description {
      // use padding because SEARS sets margin on <p> with !important, FFS!
      padding-left: 20px;
      padding-right: 20px;
      color: #000;
    }

    ol, ul {
      color: $blue;
      margin-right: 20px;
      li {
        margin-bottom: 15px;
      }
    }
    ol {
      margin-left: 20px;
      font-weight: bold;
      list-style-position: inside;
      padding-left: 5px;
    }
    ul {
      margin-left: 10px; // because list style outside!
    }
  } // .recipe-section

  .footer {
    color: $gray-42;

    hr {
      color: $hr-color;
    }

    &__content {
      padding: 35px 0;
    }

    &__headline {
      max-width: 88%;
      margin: 0 auto;
    }

    &__text {
      max-width: 95%;
      margin: 0 auto;
    }

  } // .footer

  .view-more {
    margin-top: 50px;
  }

}


@media screen and (min-width: 992px) {

  #{$wrap-class} {

    .recipe-section {
      margin-left: 0;
      margin-right: 0;

      ul {
        margin-left: 20px;
      }
    }

  }
}
