[class*=SEARS-] {
  font-size: calc(1.49031vw + 5.231px); }

@media screen and (min-width: 992px) {
  [class*=SEARS-] {
    font-size: calc(0.75431vw + 6.51724px); } }

@media screen and (min-width: 1921px) {
  [class*=SEARS-] {
    font-size: 21px; } }

.md-show {
  display: none; }

@media screen and (min-width: 992px) {
  .md-show {
    display: unset; }
  .md-hide {
    display: none; } }

[class*=SEARS-] .headline .headline--copy {
  font-size: 1.19em;
  padding: 1.5em 2em 0.75em 2em; }

[class*=SEARS-] h3 {
  font-size: 2.44em;
  line-height: 1.2em;
  margin-top: 0; }

[class*=SEARS-] hr {
  border-color: #e0e0e0; }

[class*=SEARS-] .fake-bottom-border {
  padding-top: 10px;
  padding-left: 16px;
  padding-bottom: 10px; }

@media screen and (min-width: 992px) {
  [class*=SEARS-] h3 {
    font-size: 2.1em; } }

.font-31 {
  font-size: 31px !important; }

[class*=SEARS-] .brand-logos {
  text-align: center; }
  [class*=SEARS-] .brand-logos .brand-logos--wrapper {
    display: inline-block;
    margin: 0 auto;
    word-spacing: 0;
    font-size: 0;
    background: pink;
    max-width: 1150px; }
  [class*=SEARS-] .brand-logos .brand-logo {
    display: table-cell;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    vertical-align: middle; }
  [class*=SEARS-] .brand-logos .btn--shop-now {
    background-color: #e0001e;
    border-radius: 0;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 3em;
    position: relative;
    letter-spacing: 0.02em;
    line-height: 1.59em;
    padding: 0 1.63em 0 0.815em; }
    [class*=SEARS-] .brand-logos .btn--shop-now span {
      color: #fff;
      font-weight: 600; }
    [class*=SEARS-] .brand-logos .btn--shop-now :after {
      content: " ";
      position: absolute;
      border-right: none;
      top: 50%;
      transform: translate(0, -50%);
      border: 0.37em solid transparent;
      border-left-color: #FFF;
      border-left-width: 0.703em;
      right: 0.259em; }

@media screen and (min-width: 992px) {
  [class*=SEARS-] .brand-logos {
    text-align: center; }
    [class*=SEARS-] .brand-logos .brand-logos--heading {
      font-size: 0.857em;
      font-size: 34px;
      line-height: 1.2em; }
    [class*=SEARS-] .brand-logos .brand-logo {
      width: auto; }
    [class*=SEARS-] .brand-logos .btn--shop-now {
      font-size: 1.198em;
      padding-left: 0.715em;
      padding-right: 1.431em; }
    [class*=SEARS-] .brand-logos .btn--shop-now :after {
      border-width: 0.358em;
      border-left-width: 0.596em; } }

[class*=SEARS-] .tip-box {
  min-height: 130px;
  margin-top: 25px;
  display: table; }

[class*=SEARS-] .tip-box--tall {
  min-height: 170px; }

[class*=SEARS-] .tip_box__head,
[class*=SEARS-] .tip_box__body {
  display: table-cell; }

[class*=SEARS-] .tip-box__head {
  text-transform: uppercase;
  background-color: #102869;
  color: #fff;
  font-weight: bold;
  text-align: center;
  height: inherit;
  font-size: 1.47619em;
  padding-top: 50px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 50px;
  vertical-align: middle; }

[class*=SEARS-] .tip-box__body {
  background-color: #d2daee;
  color: #000;
  height: inherit;
  padding: 25px;
  font-weight: bold;
  vertical-align: middle;
  line-height: 1.6em; }

#main {
  max-width: 100%;
  overflow: hidden; }

.SELP-4 .hero--full-width {
  margin-left: -20px;
  margin-right: -20px; }
  .SELP-4 .hero--full-width h1 {
    margin-left: 20px;
    margin-right: 20px; }
  .SELP-4 .hero--full-width picture,
  .SELP-4 .hero--full-width picture > img {
    width: 100%;
    max-width: 100%; }

.SELP-4 h2 {
  font-size: 2.09524em; }

.SELP-4 h3,
.SELP-4 .h3 {
  font-size: 1.14286em; }

.SELP-4 .font--900 {
  font-weight: 900; }

.SELP-4 .headline--copy {
  line-height: 1.4em; }
  .SELP-4 .headline--copy br {
    display: none; }

.SELP-4 .link__download {
  font-size: 1.14286em;
  white-space: nowrap; }
  .SELP-4 .link__download .icon-document {
    display: inline-block;
    height: 2.09524em; }
  .SELP-4 .link__download--text {
    vertical-align: middle; }

.SELP-4 .refrigerator-essentials .tip-box {
  margin-top: 7%; }

.SELP-4 .refrigerator-styles ul {
  padding-top: 5px;
  padding-left: 20px; }

.SELP-4 .refrigerator-features__list {
  padding-left: 25px;
  padding-top: 20px;
  padding-bottom: 20px; }

.SELP-4 .refrigerator-features .tip-box {
  margin-top: 10px; }

.SELP-4 .refrigerator-guides .refrigerator-guide__idea {
  font-size: 1.71429em; }

.SELP-4 .refrigerator-guides h3 {
  font-size: 1.95238em; }

.SELP-4 .refrigerator-guides .refrigerator-guide {
  padding-left: 0; }
  .SELP-4 .refrigerator-guides .refrigerator-guide footer {
    margin-top: 30px; }
    .SELP-4 .refrigerator-guides .refrigerator-guide footer .refrigerator-guide__link {
      font-size: 1.14286em;
      white-space: nowrap; }
      .SELP-4 .refrigerator-guides .refrigerator-guide footer .refrigerator-guide__link .icon-document {
        display: inline-block;
        height: 2.09524em; }
      .SELP-4 .refrigerator-guides .refrigerator-guide footer .refrigerator-guide__link--text {
        vertical-align: middle; }

.SELP-4 .brand-logos .brand-logos--wrapper {
  width: 100%; }

.SELP-4 .tip-box,
.SELP-4 .tipBoxContainer {
  min-height: 130px;
  margin-top: 25px;
  display: table; }

.SELP-4 .tip-box__tall,
.SELP-4 .tipBoxContainer2 {
  min-height: 170px; }

.SELP-4 .tip_box__left,
.SELP-4 .tip_box__right {
  display: table-cell; }

.SELP-4 .tip-box__left,
.SELP-4 .tipBoxDarkerBlue {
  display: table-cell;
  text-transform: uppercase;
  background-color: #102869;
  color: white;
  font-weight: bold;
  text-align: center;
  height: inherit;
  font-size: 1.47619em;
  padding-top: 50px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 50px;
  vertical-align: middle; }

.SELP-4 .tip-box__right,
.SELP-4 .tipBoxLighterBlue {
  display: table-cell;
  background-color: #d2daee;
  color: #000;
  height: inherit;
  padding: 25px;
  font-weight: bold;
  vertical-align: middle;
  line-height: 1.6em; }

@media screen and (min-width: 992px) {
  .SELP-4 article,
  .SELP-4 #hero .container {
    padding-left: 57px;
    padding-right: 57px; }
  .SELP-4 h2 {
    letter-spacing: 0.01em;
    white-space: nowrap;
    line-height: 1; }
  .SELP-4 h3,
  .SELP-4 .h3 {
    font-size: 1.14286em; } }
