$wrap-class: '.SELP-4d-salmon';

@import '../scss/_main';

// prevent horizontal overflow
#main {
  max-width: 100%;
  overflow: hidden;
}

// my stuff here!
#{$wrap-class} {

  // hero that's the full-width of the screen
  .hero--full-width {
    margin-left: -20px;
    margin-right: -20px;

    h1 {
      // 40px to offset the -20px on the parent!
      margin-left: 40px;
      margin-right: 40px;
    }

    picture,
    picture > img {
      width: 100%;
      max-width: 100%;
    }
  }


}

@media screen and (min-width: 992px) {

  #{$wrap-class} {
    // force content column width

  } // .SELP-4d-salmon
}
