// NOTE:
// be sure to add the $base-selector class to the parent container in your page_content.php!
// otherwise, the shared style rules won't get applied

// to match the 2018-09-05 PSDs
$btn-height: 86.38px;
$btn-width: 354.25px;
$btn-font-size: 54.36px;
$btn-arrow-width: 44px;
$btn-arrow-height: 41px;

#{ $base-selector } {

  // *******************************
  // BRAND LOGOS
  // ********************************
  .brand-logos {
    text-align: center;

    .brand-logos--wrapper {
      display: inline-block;
      margin: 0 auto;
      word-spacing: 0;
      font-size: 0;
      // background: pink;
      max-width: 1150px; // to make the logos play nice like the PSD!
    }

    .brand-logo {
      // display: table-cell;
      display: inline-block;
      padding: 10px 20px;
      text-align: center;
      vertical-align: middle;
      // font-size: 34px;

      img {
      // width: auto;
      // max-width: 100%;
      // height: auto;
      }
    }

    .btn--shop-now {
      background-color: $btn-color;
      border-radius: 0;
      color: #fff;
      font-family: Arial, sans-serif;
      //  font-size is 54.73px in PSD
      //  54px / 18px = 3em
      // font-size: 3em;
      font-size: $btn-font-size;
      position: relative; //  so we can absolutely position the arrow!

      width: $btn-width;
      height: $btn-height;
      // line-height: $btn-height;
      line-height: ($btn-height - 3);

      letter-spacing: 0.02em;

      //  86px / 54.73px = 1.59em
      // line-height: 1.59em;

      //  88px / 54px = 1.63em
      // padding: 0 1.63em 0 0.815em;
      padding: 0; // to override stuff from shopping.css

      text-indent: -30px; // because the text doesn't center correctly in the new design

      span {
        color: #fff;
        font-weight: 600;
      }

      &:after {
        content: "";
        position: absolute;
        border-right: none;
        top: 50%;
        transform: translate( 0, -50% );
        //  20px / 54px = 0.370em
        // border: 0.37em solid transparent;
        // 41px? in the PSD
        border: 22px solid transparent;

        border-left-color: #FFF;
        //  38px / 54px = 0.703em
        // border-left-width: 0.703em;
        // 44px in the PSD
        border-left-width: 40px;

        //  14px / 54px = 0.259em
        // right: 0.259em;
        right: 0;
      }

    } // .btn--shop-now

  } // .brand-logos

} // #{ $base-selector }


@media screen and (min-width: 992px) {

  #{ $base-selector } {

    .brand-logos {
      text-align: center;

      .brand-logos--heading {
       //  18px / 21px = 0.857em
       // font-size: 0.857em;
       // font-size: 34px;
       // line-height: 1.2em;
      }

      .brand-logos--wrapper {
        // margin: 0 0 0 auto;
      }

      .brand-logo {
        width: auto;
        img {
          // display: block;
          // width: 100%;
          // height: auto;
        }
      }

      // same on both now!
      .btn--shop-now {
        //  25.16px / 21px = 1.198em
        // font-size: 1.198em;
        // //  18px / 25.16px = 0.715em
        // padding-left: 0.715em;
        // //  36px / 25.16px = 1.431em
        // padding-right: 1.431em;
      }

      .btn--shop-now :after {
        //  9px / 25.16px = 0.358em
        // border-width: 0.358em;
        //  15px / 25.16px = 0.596em
        // border-left-width: 0.596em;
      }

    } // .brand-logos

  } // cms-content-1920-1920 a.k.a., $base-selector

} // @media screen and (min-width: 992px)

// scale it for small screens!
@media screen and (max-width: 400px) {
  #{ $base-selector } {

    .brand-logos {

      .btn--shop-now {
        background-color: $btn-color;
        border-radius: 0;
        color: #fff;
        font-family: Arial, sans-serif;
        //  font-size is 54.73px in PSD
        //  54px / 18px = 3em
        // font-size: 3em;
        font-size: $btn-font-size * .5;
        position: relative; //  so we can absolutely position the arrow!

        width: $btn-width * .5;
        height: $btn-height * .5;
        // line-height: $btn-height;
        line-height: (($btn-height * .5) - 1.5);

        letter-spacing: 0.02em;

        text-indent: -15px; // because the text doesn't center correctly in the new design


        &:after {
          content: "";
          position: absolute;
          border-right: none;
          top: 50%;
          transform: translate( 0, -50% );
          border: 11px solid transparent;

          border-left-color: #FFF;
          border-left-width: 20px;

          right: 0;
        }

      } // .btn--shop-now
    } // .brand-logos
  }
}
