// Tip box!

// vars

// values from PSDs
$tip-box-head-font-size: 30px;
$tip-box-head-pad-top: 24px;
$tip-box-head-pad-bot: 18px; // actually 16px on mobile, but that's stupid
$tip-box-body-pad: 27px; // no bottom padding in PSDs, but it's needed!

// $base-selector is probably specific to the current page
#{ $base-selector } {

  .tip-box {
    margin-top: 25px;
    text-align: center;
  }

  // dark blue part that says "TIP"
  .tip-box__head {
    // text-transform: uppercase;
    background-color: $blue;
    color: #fff;
    font-weight: bold;
    // font-size: 31px;
    // font-size: em( 31px, $max-font-size_d );
    font-size: $tip-box-head-font-size;
    padding-top: $tip-box-head-pad-top;
    padding-bottom: $tip-box-head-pad-bot;
    vertical-align: middle;
  }
  .tip-box__body {
    background-color: $light-blue-too;
    color: #000;
    padding: $tip-box-body-pad;
    vertical-align: middle;
    line-height: 1.6em;

    // bold part
    &--headline {
      font-weight: bold;
    }
    // reg'l'r
    &--text {

    }
  }

}
